@import "_fonts.scss";
@import "_variables.scss";
@import "_reset.scss";
@import "_libs.scss";
@import "_overall.scss";
@import "templates/_burger.scss";

//header ///////////////////////////////////////////////////////////
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	z-index: 70;
	// .header__container
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 32px;
		padding-bottom: 30px;
		@media (max-width: 576px) {
			padding-top: 20px;
			padding-bottom: 20px;
		}
	}
	// .header__logo
	&__logo {
		position: relative;
		z-index: 4;
	}
	// .header__nav
	&__nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: 992px) {
			position: fixed;
			top: -150%;
			left: 0;
			width: 100%;
			height: 100%;
			padding: 107px 0px 20px 0px;
			flex-direction: column;
			justify-content: flex-start;
			background-color: #e5f2ff;
			overflow: auto;
			z-index: 3;
			transition: top 0.3s;
			&::before {
				content: "";
				position: fixed;
				top: 0;
				left: 0;
				height: 107px;
				width: 100%;
				@media (max-width: 576px) {
					height: 85.4px;
				}
			}
		}
		&.active {
			top: 0;
			&::before {
				content: "";
				background-color: #e5f2ff;
			}
		}
	}
	// .header__burger
	&__burger {
		display: none;
		@media (max-width: 992px) {
			display: flex;
			z-index: 4;
		}
	}
}

.nav-header {
	// .nav-header__list
	&__list {
		display: flex;
		@media (max-width: 992px) {
			display: block;
		}
	}
	// .nav-header__item
	&__item {
		&:not(:last-child) {
			margin-right: 56px;
			@media (max-width: 1300px) {
				margin-right: 30px;
			}
		}
		@media (max-width: 992px) {
			margin: 0px 0px 30px 0px !important;
			text-align: center;
		}
	}
	// .nav-header__link
	&__link {
		color: $black;
		font-weight: 600;
		font-size: 16px;
		letter-spacing: 0.100962px;
		transition: color 0.3s;
		@media (min-width: 992px) {
			&:hover {
				color: $blue;
			}
		}
		@media (max-width: 992px) {
			font-size: 40px;
		}
		@media (max-height: 618px) and (max-width: 992px) {
			font-size: 30px;
		}
	}
	// .nav-header__btn
	&__btn {
		display: block;
		margin-left: vw(237);
		width: 207px;
		height: 49px;
		border: 2px solid $black;
		border-radius: 5px;
		background: transparent;
		font-weight: bold;
		font-size: 14px;
		color: $black;
		transition: background-color 0.3s;
		@media (min-width: 992px) {
			&:hover {
				background-color: #687ff2;
			}
		}
		@media (max-width: 1300px) {
			margin-left: 5.5vw;
			width: 165px;
		}
		@media (max-width: 992px) {
			margin: 0;
			padding: 15px 0 30px 0;
			width: 207px;
		}
	}
}

//first///////////////////////////////////////////////////////

.first {
	padding-bottom: 100px;
	padding-top: 111px;
	@media (max-width: 992px) {
		padding-top: 107.4px;
	}
	@media (max-width: 576px) {
		padding-top: 85.4px;
	}
	// .first__container
	&__container {
		max-width: 1560px;
		padding-bottom: 168px;
		display: flex;
		background: url("../icons/sprite.svg#first_2") 388px -138px / 426px 380px no-repeat,
			#eff7ff url("../icons/sprite.svg#first_1") -11% 117% / 426px 380px no-repeat;
		position: relative;
		@media (max-width: 1600px) {
			padding-bottom: 50px;
			background: url("../icons/sprite.svg#first_2") 388px -138px / 426px 380px no-repeat,
				#eff7ff url("../icons/sprite.svg#first_1") -11% 142% / 426px 380px no-repeat;
		}
		@media (max-width: 768px) {
			display: block;
		}
		@media (max-width: 576px) {
			background: #eff7ff;
		}
	}
	// .first__content
	&__content {
		max-width: 735px;
		padding: 11.3% 0px 0px 11.7%;
		@media (max-width: 1300px) {
			padding: 11.3% 0px 0px 2%;
		}
		@media (max-width: 768px) {
			text-align: center;
		}
	}
	// .first__title
	&__title {
		margin-bottom: 25px;
		font-weight: bold;
		font-size: 64px;
		line-height: 72px;
		color: $black;
		@media (max-width: 576px) {
			margin-bottom: 45px;
			font-size: 14vw;
			line-height: 1.1;
		}
	}
	// .first__subtitle
	&__subtitle {
		margin-bottom: 46px;
		font-size: 24px;
		line-height: 36px;
		color: $black;
		@media (max-width: 576px) {
			font-size: 7vw;
			line-height: 1.3;
		}
	}
	// .first__btn
	&__btn {
		@media (max-width: 576px) {
			padding: 24px 14% 24px 14%;
		}
	}

	&__image {
		position: absolute;
		top: 11.3%;
		right: 0;
		width: 800px;
		height: 653px;
		background: url("../img/first.png") center / 800px 653px no-repeat;
		@media (max-width: 1600px) {
			position: static;
			margin: 5.4% 0px 0px 0px;
			height: auto;
			background: url("../img/first.png") center / contain no-repeat;
		}
		@media (max-width: 768px) {
			width: 100%;
			height: 300px;
			margin: 50px auto 0px auto;
		}
	}
}

//internet/////////////////////////////////////////////////////////

.internet {
	// .internet__container
	&__container {
	}
	// .internet__head
	&__head {
		margin-left: 12.1%;
		margin-bottom: 49px;
		@media (max-width: 992px) {
			margin: 0px 0px 65px 0px;
		}
	}
	// .internet__title
	&__title {
		max-width: 630px;
		margin-bottom: 25px;
		color: $black;
	}
	// .internet__subtitle
	&__subtitle {
		max-width: 485px;
		font-size: 20px;
		line-height: 32px;
		color: $black;
		@media (max-width: 992px) {
			text-align: center;
			max-width: none;
		}
	}
	// .internet__row
	&__row {
		display: flex;
		padding-bottom: 105px;
		@media (max-width: 992px) {
			flex-wrap: wrap;
		}
	}
	// .internet__image
	&__image {
		margin: 0px 14.4% 0px 2.6%;
		flex: 0 0 40%;
		height: 589px;
		background: url("../img/box.png") center / cover no-repeat;
		@media (max-width: 1600px) {
			background: url("../img/box.png") center / contain no-repeat;
			margin: 0px 8% 0px 2.6%;
			height: 0;
			padding-bottom: 36%;
		}
		@media (max-width: 992px) {
			flex: 0 0 100%;
			margin: 0px 0px 40px 0px;
		}
		@media (max-width: 576px) {
			padding-bottom: 60%;
		}
	}
	// .internet__list
	&__list {
		margin-top: 20px;
		max-width: 480px;
		@media (max-width: 1600px) {
			max-width: none;
		}
		@media (max-width: 992px) {
			flex: 0 0 100%;
			text-align: center;
		}
	}
	// .internet__item
	&__item {
		margin-bottom: 80px;
	}
}

.item-internet {
	// .item-internet__image
	&__image {
		margin-bottom: 12px;
		margin-left: -37px;
		width: 175px;
		height: 140px;
		&_1 {
			background: url("../img/konstruct.png") center / 175px 123px no-repeat,
				url("../icons/sprite.svg#ellipse") center / 140px 140px no-repeat;
		}
		&_2 {
			background: url("../img/bulb.png") center / 100px 144px no-repeat,
				url("../icons/sprite.svg#ellipse") center / 140px 140px no-repeat;
		}
		&_3 {
			background: url("../img/cubs.png") center / 99px 113px no-repeat,
				url("../icons/sprite.svg#ellipse") center / 140px 140px no-repeat;
		}
		&_4 {
			background: url("../img/money.png") center / 100px 144px no-repeat,
				url("../icons/sprite.svg#ellipse") center / 140px 140px no-repeat;
		}
		@media (max-width: 992px) {
			margin: 0px auto;
		}
	}
	// .item-internet__title
	&__title {
		margin-bottom: 15px;
		font-weight: bold;
		font-size: 24px;
		line-height: 32px;
		color: $black;
	}
	// .item-internet__subtitle
	&__subtitle {
		font-size: 18px;
		line-height: 28px;
		color: $black;
	}
}

//tsekh//////////////////////////////////////////////////

.tsekh {
	background-color: $blue;
	// .tsekh__container
	&__container {
		padding: 16.8% 0px 16% 0px;
		text-align: center;
		position: relative;
		overflow: hidden;
	}
	// .tsekh__logo
	&__logo {
		width: 210px;
		height: 65px;
		margin-bottom: 61px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	// .tsekh__text
	&__text {
		margin: 0 auto;
		max-width: 750px;
		color: #fff;
	}
	// .tsekh__decor
	&__decor {
	}
	// .tsekh__arrow
	&__arrow {
		position: absolute;
		width: 49px;
		height: 110px;
		background: url("../icons/sprite.svg#arrow_up") center / cover no-repeat;
		&:nth-child(1) {
			top: 17.5%;
			left: 13.8%;
			opacity: 0.6;
			@media (max-width: 1300px) {
			}
			@media (max-width: 768px) {
				display: none;
			}
		}
		&:nth-child(2) {
			top: 16.8%;
			left: 39.1%;
			opacity: 0.8;
			@media (max-width: 1300px) {
				top: 2.8%;
			}
			@media (max-width: 992px) {
				display: none;
			}
		}
		&:nth-child(3) {
			top: 10.8%;
			right: 26.7%;
			opacity: 0.5;
			@media (max-width: 992px) {
				top: 4.8;
			}
			@media (max-width: 768px) {
				display: none;
			}
		}
		&:nth-child(4) {
			bottom: 28.4%;
			left: 15.4%;
			opacity: 0.9;
			@media (max-width: 1300px) {
				bottom: 7.4%;
			}
			@media (max-width: 768px) {
				display: none;
			}
		}
		&:nth-child(5) {
			top: 48%;
			right: 13%;
			opacity: 0.8;
			@media (max-width: 1300px) {
				right: 4%;
			}
			@media (max-width: 992px) {
				display: none;
			}
		}
		&:nth-child(6) {
			bottom: -11px;
			left: 34.1%;
			opacity: 0.6;
			@media (max-width: 992px) {
				display: none;
			}
		}
		&:nth-child(7) {
			bottom: 10.9%;
			right: 22.4%;
			@media (max-width: 992px) {
				bottom: 1.9%;
			}
			@media (max-width: 768px) {
				display: none;
			}
		}
		@media (max-width: 1600px) {
			width: 35px;
			height: 90px;
		}
	}
}

//about//////////////////////////////////////////////////

.about {
	// .about__container
	&__container {
		padding-top: 8%;
		padding-bottom: 7.3%;
		@media (max-width: 768px) {
			padding-top: 16%;
		}
	}
	// .about__title
	&__title {
		max-width: 435px;
		margin: 0px 0px 31px 13.1%;
		@media (max-width: 992px) {
			margin: 0px 0px 50px 0px;
			text-align: center;
		}
	}
	// .about__grid
	&__grid {
		margin: 0px 0px 7.2% 10%;
		display: grid;
		grid-template-columns: minmax(200px, 520px) 479px;
		grid-column-gap: 50px;
		grid-row-gap: 62px;
		align-items: center;
		@media (max-width: 1300px) {
			margin: 0px 0px 7.2% 0px;
			grid-template-columns: 30% 1fr;
			grid-column-gap: 40px;
			grid-row-gap: 50px;
		}
		@media (max-width: 768px) {
			grid-template-columns: 1fr;
			grid-column-gap: 40px;
			grid-row-gap: 50px;
		}
	}
	// .about__item
	&__item {
	}
	// .about__subtitle
	&__subtitle {
		margin: 0px 0px 15px 0px;
		font-weight: bold;
		font-size: 30px;
		line-height: 40px;
		color: $black;
	}
	// .about__text
	&__text {
		margin-bottom: 27px;
		line-height: 28px;
		color: $black;
		@media (max-width: 992px) {
			margin-bottom: 10px;
		}
	}
	// .about__integrate
	&__integrate {
	}
	// .about__order
	&__order {
	}
}

.about-img {
	height: 557px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	&_1 {
		background-image: url("../img/tablet_1.png");
	}
	&_2 {
		background-image: url("../img/tablet_2.png");
	}
	&_3 {
		margin-top: 12px;
		background-image: url("../img/tablet_3.png");
	}
	@media (max-width: 1300px) {
		height: auto;
		padding-bottom: 80%;
		background-size: contain;
	}
}

.integrate {
	// .integrate__item
	&__item {
		padding-left: 21px;
		font-size: 18px;
		line-height: 28px;
		color: $black;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: 6px;
			left: 0;
			width: 15px;
			height: 15px;
			background: url("../icons/sprite.svg#plus") center / cover no-repeat;
		}
		&_minus {
			color: #e46868;
			&::before {
				background: url("../icons/sprite.svg#minus") center / cover no-repeat;
			}
		}
	}
}

.order-about {
	display: flex;
	max-width: 1180px;
	margin: 0 auto;
	padding-bottom: 83px;
	background: #eff7ff;
	border: 2px solid #ffffff;
	border-radius: 15px;
	@media (max-width: 576px) {
		margin: 0px -20px 0px -20px;
	}
	// .order-about__image
	&__image {
		margin: 81px 7.7% 0px 4.3%;
		flex: 0 0 378px;
		height: 322px;
		background: url("../img/form.png") center / cover no-repeat;
		@media (max-width: 992px) {
			display: none;
		}
	}
	// .order-about__form
	&__form {
		margin: 84px 58px 0px 0px;
		@media (max-width: 992px) {
			margin: 84px 50px 0px 50px;
		}
		@media (max-width: 992px) {
			margin: 84px 20px 0px 20px;
		}
	}
}
.form-about {
	// .form-about__title
	&__title {
	}
	// .form-about__text
	&__text {
		margin-bottom: 50px;
		@media (max-width: 992px) {
			margin-bottom: 40px;
		}
	}
	// .form-about__inputs
	&__inputs {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		@media (max-width: 992px) {
			justify-content: flex-start;
		}
		@media (max-width: 576px) {
			justify-content: center;
		}
	}
	// .form-about__input
	&__name {
		flex: 0 1 287px;
		margin-bottom: 20px;
		@media (max-width: 1300px) {
			flex: 0 1 100%;
		}
		@media (max-width: 992px) {
			flex: 0 1 70%;
		}
		@media (max-width: 768px) {
			flex: 0 1 100%;
		}
	}
	// .form-about__tel
	&__tel {
		flex: 0 1 294px;
		margin-bottom: 20px;
		@media (max-width: 1300px) {
			flex: 0 1 100%;
		}
		@media (max-width: 992px) {
			flex: 0 1 70%;
		}
		@media (max-width: 768px) {
			flex: 0 1 100%;
		}
	}
	// .form-about__btn
	&__btn {
		flex: 0 1 287px;
		@media (max-width: 1300px) {
			margin-bottom: 30px;
		}
		@media (max-width: 576px) {
			padding: 0;
			height: 55px;
		}
	}
	// .form-about__att
	&__att {
		flex: 0 1 294px;
		padding-right: 18px;
		font-size: 14px;
		line-height: 24px;
		color: #999999;
		@media (max-width: 992px) {
			margin-left: 20px;
		}
	}
}

//stack////////////////////////////////////////////////////////////////

.stack {
	background: #eff7ff;
	// .stack__container
	&__container {
		padding-top: 80px;
		padding-bottom: 80px;
	}
	// .stack__title
	&__title {
		margin: 0px 0px 50px 12.2%;
		@media (max-width: 1300px) {
			margin: 0px 0px 50px 0px;
		}
	}
	// .stack__list
	&__list {
		margin: 0px 12.2% 0px 12.2%;
		display: flex;
		justify-content: space-between;
		@media (max-width: 1300px) {
			margin: 0px 0px 0px 0px;
		}
		@media (max-width: 992px) {
			justify-content: center;
			flex-wrap: wrap;
		}
	}
	// .stack__item
	&__item {
		flex: 0 1 380px;
		height: 88px;
		background: #ffffff;
		border-radius: 10px;
		background-repeat: no-repeat;
		background-position: center;
		&:not(:last-child) {
			margin-right: 20px;
		}
		&_1 {
			background-image: url("../img/vuejs.png");
		}
		&_2 {
			background-image: url("../img/django.png");
		}
		&_3 {
			background-image: url("../img/elastic.png");
		}
		@media (max-width: 992px) {
			flex: 0 0 51%;
			&:not(:last-child) {
				margin: 0px 0px 30px 0px;
			}
		}
		@media (max-width: 768px) {
			flex: 0 1 380px;
		}
	}
}

//case/////////////////////////////////////////////////////////////////////////////////

.cases {
	// .cases__container
	&__container {
		padding-top: 7.3%;
		padding-bottom: 7.5%;
		@media (max-width: 576px) {
			padding-top: 10%;
			padding-bottom: 10%;
		}
	}
	// .cases__title
	&__title {
		margin: 0px 0px 50px 12.2%;
		@media (max-width: 992px) {
			margin: 0px 0px 50px 0;
		}
	}
	// .cases__grid
	&__grid {
		display: grid;
		grid-template-columns: 49.6% 411px;
		grid-column-gap: 50px;
		grid-row-gap: 39px;
		margin: 0px 0px 0px 12.2%;
		@media (max-width: 1300px) {
			margin: 0px 0px 0px 0px;
		}
		@media (max-width: 992px) {
			grid-template-columns: 40% 1fr;
		}
		@media (max-width: 768px) {
			grid-template-columns: 1fr;
		}
	}
	// .cases__image
	&__image {
		padding-bottom: 58.6%;
		border-radius: 15px;
		overflow: hidden;
		position: relative;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			@media (max-width: 992px) {
				object-fit: contain;
			}
			@media (max-width: 992px) {
				object-fit: cover;
			}
		}
	}
	// .cases__hovered
	&__hovered {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		font-weight: 600;
		font-size: 16px;
		color: #ffffff;
		background: $blue;
		opacity: 0;
		transition: opacity 0.3s;
		&::before {
			content: "";
			width: 48px;
			height: 48px;
			background: url("../icons/sprite.svg#arrow_hover") center / cover no-repeat;
		}
		@media (min-width: 992px) {
			&:hover {
				opacity: 0.9;
			}
		}
	}
	// .cases__content
	&__content {
	}
	// .cases__logo
	&__logo {
		// padding-top: 33px;
	}
}

.content-cases {
	// .content-cases__title
	align-self: center;
	&__title {
		margin-bottom: 28px;
		font-weight: bold;
		font-size: 20px;
		line-height: 32px;
		color: $black;
	}
	// .content-cases__stats
	&__stats {
		display: flex;
		font-weight: 600;
		font-size: 16px;
		line-height: 24px;
		color: $black;
		// position: relative;
		&:not(:last-child) {
			margin-bottom: 24px;
		}
		@media (max-width: 768px) {
			&:not(:last-child) {
				margin-bottom: 40px;
			}
		}
	}
	&__value {
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 0 0 96px;
		margin-right: 17px;
		height: 56px;
		background: #eff7ff;
		border-radius: 5px;
		font-weight: 600;
		color: $blue;
		@media (max-width: 576px) {
			width: 70px;
			height: 45px;
		}
	}
}

//price/////////////////////////////////////////////////////////////////////////////

.price {
	background: $blue;
	// .price__container
	&__container {
		padding-top: 80px;
		padding-bottom: 80px;
	}
	// .price__title
	&__title {
		margin: 0px 0px 30px 12.2%;
		color: #ffffff;
		@media (max-width: 992px) {
			margin: 0px 0px 30px 0;
		}
	}
	// .price__content
	&__content {
		display: flex;
		margin: 0px 0px 48px 12.2%;
		@media (max-width: 992px) {
			margin: 0px 0px 48px 0;
		}
		@media (max-width: 576px) {
			flex-wrap: wrap;
			justify-content: center;
		}
	}
	// .price__text
	&__text {
		flex: 0 1 344px;
		margin-right: 15px;
		line-height: 28px;
		color: #ffffff;
		@media (max-width: 576px) {
			margin-bottom: 25px;
		}
	}
	// .price__hour
	&__hour {
		line-height: 28px;
		color: #ffffff;
		display: flex;
		align-items: center;
		&::before {
			content: "1 190 ₽";
			display: flex;
			align-items: center;
			justify-content: center;
			margin-right: 20px;
			width: 144px;
			height: 56px;
			background: #ffffff;
			border-radius: 5px;
			font-weight: bold;
			font-size: 24px;
			color: $black;
			@media (max-width: 768px) {
				width: 111px;
			}
		}
	}
	// .price__form
	&__form {
		margin: 0px 0px 0 12.2%;
		@media (max-width: 992px) {
			margin: 0px 0px 0 0;
		}
	}
	// .price__att
	&__att {
		margin: 20px 0px 0 12.2%;
		line-height: 24px;
		color: #ffffff;
		@media (max-width: 992px) {
			margin: 20px 0px 0 0px;
		}
	}
}

.form-price {
	display: flex;
	@media (max-width: 768px) {
		flex-wrap: wrap;
		justify-content: center;
	}
	// .form-price__name
	&__name {
		flex: 0 1 380px;
		margin-right: 14px;
		@media (max-width: 768px) {
			margin-right: 0;
			margin-bottom: 20px;
		}
	}
	// .form-price__tel
	&__tel {
		flex: 0 1 380px;
		margin-right: 14px;
		@media (max-width: 768px) {
			margin-right: 0;
			margin-bottom: 20px;
		}
	}
	// .form-price__btn
	&__btn {
		flex: 0 1 391px;
		height: 72px;
		background: #ffe818;
		border-radius: 5px;
		line-height: 24px;
		font-weight: 800;
		color: $black;
		transition: color 0.3s;
		@media (min-width: 992px) {
			&:hover {
				color: $blue;
			}
		}
		@media (max-width: 1300px) {
			flex: 0 1 250px;
		}
		@media (max-width: 768px) {
			flex: 0 1 350px;
		}
		@media (max-width: 576px) {
			height: 60px;
		}
	}
}

//team///////////////////////////////////////////////////////////////////////////

.team {
	// .team__container
	&__container {
		padding-top: 7.3%;
		padding-bottom: 7.3%;
	}
	&__subcontainer {
		@media (max-width: 1300px) {
			max-width: none;
			margin: 0;
		}
	}
	// .team__title
	&__title {
		margin-bottom: 50px;
	}
	// .team__image
	&__image {
		margin-bottom: 40px;
		position: relative;
		padding-bottom: 30.5%;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
	// .team__content
	&__content {
		display: flex;
		@media (max-width: 768px) {
			flex-wrap: wrap;
		}
	}
	// .team__text
	&__text {
		flex: 0 1 457px;
		margin-right: 193px;
		line-height: 28px;
		color: $black;
		@media (max-width: 992px) {
			margin-right: 40px;
		}
		@media (max-width: 768px) {
			margin: 0px 0px 30px 0px;
		}
	}
	// .team__lead-text
	&__lead-text {
		font-weight: 600;
		line-height: 28px;
		color: $black;
		@media (max-width: 576px) {
			line-height: 1.2;
			font-weight: 400;
		}
	}
	// .team__lead
	&__lead {
		display: flex;
		align-items: center;
	}
	// .team__ava
	&__ava {
		margin-right: 31px;
		flex: 0 0 101px;
		height: 101px;
		border-radius: 50%;
		overflow: hidden;
		position: relative;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
		@media (max-width: 576px) {
			flex: 0 0 80px;
			height: 80px;
			margin-right: 20px;
		}
	}
}

//extra/////////////////////////////////////////////////////////////////

.extra {
	// .extra__container
	&__container {
		padding-bottom: 7.3%;
	}
	&__subcontainer {
		@media (max-width: 1300px) {
			max-width: none;
			margin: 0;
		}
	}

	// .extra__title
	&__title {
		margin-bottom: 20px;
		color: $black;
	}
	// .extra__subtitle
	&__subtitle {
		margin-bottom: 40px;
		line-height: 28px;
		color: $black;
	}
	// .extra__list
	&__list {
		display: grid;
		grid-template-columns: repeat(3, 380px);
		grid-column-gap: 20px;
		grid-row-gap: 30px;
		@media (max-width: 1300px) {
			grid-template-columns: repeat(auto-fit, minmax(280px, 380px));
			justify-content: center;
		}
	}
	// .extra__item
	&__item {
	}
}

.item-extra {
	padding: 43px 61px 40px 40px;
	height: 460px;
	position: relative;
	overflow: hidden;
	background-color: #eff7ff;
	background-repeat: no-repeat;
	@media (max-width: 576px) {
		margin: 0 -20px;
		padding: 30px 40px 30px 40px;
		height: 400px;
	}
	&_1 {
		background-image: url("../img/extra_1.png");
		background-position: 100% 100%;
		background-size: 287px 299px;
	}
	&_2 {
		background-image: url("../img/extra_2.png");
		background-position: 100% 100%;
		background-size: 287px 299px;
	}
	&_3 {
		background-image: url("../img/extra_3.png");
		background-position: 100% 100%;
		background-size: 339px 299px;
	}
	&__title {
		margin-bottom: 24px;
		font-size: 20px;
		font-weight: bold;
		color: $black;
	}
	// .item-extra__tags
	&__tags {
		display: flex;
		flex-wrap: wrap;
	}
	// .item-extra__tag
	&__tag {
		margin: 0px 8px 8px 0px;
		padding: 6px 8px;
		background: #ffffff;
		border-radius: 4px;
		font-size: 12px;
		color: $black;
	}
	// .item-extra__btn
	&__btn {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 80px;
		height: 80px;
		background: $blue url("../icons/sprite.svg#arrow_hover") center / contain no-repeat;
		transition: background-color 0.3s;
		@media (min-width: 992px) {
			&:hover {
				background-color: #ffe818;
			}
		}
		@media (max-width: 576px) {
			width: 60px;
			height: 60px;
		}
	}
}

//footer////////////////////////////////////////////////////////////////////

.footer {
	background: #2e3646;
	&::after {
		content: "";
		display: block;
		height: 67px;
		background: #fff;
	}
	// .footer__container
	&__container {
		padding-top: 80px;
	}
	// .footer__logo
	&__logo {
		margin: 0px 0px 53px 12.6%;
		@media (max-width: 1300px) {
			margin: 0px 0px 53px 0;
		}
	}
	// .footer__row
	&__row {
		display: flex;
		justify-content: space-between;
		padding: 0px 15.8% 79px 12.6%;
		margin: 0 -15px;
		@media (max-width: 1300px) {
			padding: 0px 0 79px 0;
		}
		@media (max-width: 992px) {
			flex-wrap: wrap;
			padding: 0px 0 49px 0;
		}
	}
	// .footer__column
	&__column {
		padding: 0 15px;
		@media (max-width: 992px) {
			margin-bottom: 40px;
		}
		@media (max-width: 768px) {
			flex: 0 1 50%;
		}
		@media (max-width: 576px) {
			flex: 0 1 auto;
		}
	}
	// .footer__title
	&__title {
		margin-bottom: 16px;
		font-weight: bold;
		line-height: 28px;
		color: #ffffff;
	}
	// .footer__list
	&__list {
	}
	// .footer__item
	&__item {
		&:not(:last-child) {
			margin-bottom: 12px;
		}
	}
	// .footer__link
	&__link {
		display: flex;
		align-items: center;
		font-size: 14px;
		line-height: 20px;
		color: #ffffff;
		transition: color 0.3s;
		@media (min-width: 992px) {
			&:hover {
				color: $blue;
			}
		}
		&_tel {
			&::before {
				content: "";
				margin-right: 17px;
				width: 17px;
				height: 17px;
				background: url("../icons/sprite.svg#tel") center / cover no-repeat;
			}
		}
		&_mail {
			&::before {
				content: "";
				margin-right: 17px;
				width: 17px;
				height: 14px;
				background: url("../icons/sprite.svg#mail") center / cover no-repeat;
			}
		}
	}
	// .footer__social
	&__social {
	}
}

.social {
	display: flex;
	// .social__item
	&__item {
		&:not(:last-child) {
			margin-right: 16px;
		}
	}
	// .social__link
	&__link {
		display: block;
		width: 40px;
		height: 40px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		// .social__link_f
		&_f {
			background-image: url("../icons/sprite.svg#facebook");
		}
		// .social__link_inst
		&_inst {
			background-image: url("../icons/sprite.svg#inst");
		}
		// .social__link_be
		&_be {
			background-image: url("../icons/sprite.svg#be");
		}
	}
}
